<div class="container sign-up">
<h2>Join Our Team</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => 'requierd' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", :required => 'requierd' %>
  </div> 
 
<% if current_user.role == "user" %>
<%= f.label :Confirm_To_Be_Guide? %>
  <%= check= f.check_box :about_me,{}, true, false %>
  <% if check.include?("true")%>
  <%= f.hidden_field :role, :value => 'guide' %>
  <div id="card_details" style="display:none;">
  <div class="guideField">
  <%= f.label :about_me %> <br /><%= f.text_field :about_me , :required => 'requierd'%>
  </div>
  <div class="guideField">
    <%= f.label :why_me %><br /> <%= f.text_field :why_me , :required => 'requierd' %>
    </div>
    <div class="actions">
    <%= f.submit 'Lat`s Go!' %>
  </div>
    <%end%>

<%end%>
</div>
<%end%>

<br />
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"link-to" %>
<%= link_to "Back", :back, class:"link-to" %>
</div>

<script type="text/javascript">
  var checkbox = document.getElementById('user_about_me');
  var details_div = document.getElementById('card_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>