<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

=======
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label "First Name".to_sym %><br />
    <%= f.text_field :first_name %>
  </div>

    <div class="field">
    <%= f.label "Last Name".to_sym%><br />
    <%= f.text_field :last_name%>
  </div>
  <div class="field">
    <%= f.label :Country %><br />
    <%= f.text_field :country %>
  </div>

    <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :city%>
  </div>
  <div class="field">
    <%= f.label "Phone Number".to_sym %><br />
    <%= f.text_field :phone %>
  </div>
>>>>>>> master
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
