<nav>
<ul>
    <li> <%= link_to  "HOME", home_index_path %></li>
    <li> <%= link_to  "TRIPS & TOURS", home_index_path %></li>
    <li> <%= link_to  "ABOUT US", home_index_path %></li>
    <li> <%= link_to  "FAQs", home_index_path %></li>
</ul>
<%= button_to  "JOIN US", new_user_registration_path, class:"join_btn" %></div>
</nav>
<h1><%=@role%></h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class ="container">
        <div>
              <%= image_tag  "logo.png", class: "img" %>
              
        </div>
        
<%= form_tag(home_searchuser_path, method: "get") do %>
  <%= text_field_tag(:query, "", class: "input-field") %>
  <%= submit_tag("Search",class: "search-btn") %>
<% end %>
<%= link_to  "sign out", destroy_user_session_path, method: :delete %>

 </div>
