<div class ="container">
 <div>
              <%= image_tag  "logo.png", class: "main_image" %>
        </div> 
<%= form_tag(home_searchguest_path, method: "get") do %>
    <%= text_field_tag(:q, "", class: "input-field") %>
    <%= submit_tag("Search",class: "search-btn") %>
<% end %>  
 <%= link_to  "SIGNE UP ", new_user_registration_path , class:"sign"%>
 </div>
 