<nav>
<ul>
    <li> <%= link_to  "HOME", home_index_path %></li>
    <li> <%= link_to  "TRIPS & TOURS", home_index_path %></li>
    <li> <%= link_to  "ABOUT US", home_index_path %></li>
    <li> <%= link_to  "FAQs", home_index_path %></li>
</ul>
<div><%= button_to "Become a guide", home_becomeguide_path, class:"join_btn" %></div>
</nav>
<h1><%=@fullname%></h1>
<div class ="container">
        <div>
              <%= image_tag  "logo.png", class: "img" %>
        </div>
        
<%= form_tag(home_searchuser_path, method: "get") do %>
  <%= text_field_tag(:query, "", class: "input-field") %>
  <%= submit_tag("Search",class: "search-btn") %>
<% end %>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

 </div>
