<div class="user-info">
<h1> Welcome <%=@fullname%></h1></div>


<div class ="container">
        <div>
        
         </div> 
        
<%= form_tag(home_searchuser_path, method: "get") do %>
  <%= text_field_tag(:query, "", class: "input-field") %>
  <%= submit_tag("Search",class: "search-btn") %>
<% end %>
<%= link_to  "sign out", destroy_user_session_path, method: :delete, class:".sign" %>

 </div>
