<!DOCTYPE html>
<html>
  <head>
    <title>Locide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
<ul>
    <li> <%= link_to  "HOME", homes_index_path %></li>
    <li> <%= link_to  "TRIPS & TOURS", homes_alltrips_path %></li>
    <li> <%= link_to  "ABOUT US", homes_aboutus_path %></li>
    <li> <%= link_to  "FAQs", homes_index_path %></li>
</ul>
<div class="btns">
<% if current_user == nil %>
<%= button_to  "JOIN US ", new_user_registration_path, method: :get, class:"join_btn" %>
<%= button_to  "Sign in",  new_user_session_path, method: :get, class:"join_btn2" %>
</div>
<%elsif current_user.role == "user"%>
<%= button_to  "Become Guide", edit_user_registration_path(:guide => "true"), method: :get, class:"join_btn" %>
<%= button_to  "Sign Out",  destroy_user_session_path, method: :delete, class:"join_btn2" %>
</div>

<%else%>
<%= button_to  "Create Trip", trips_new_path, method: :get, class:"join_btn" %>
<%= button_to  "Sign Out",  destroy_user_session_path, method: :delete, class:"join_btn2" %>
</div>
<%end%>
</nav>
  <p id="error"><%= flash[:error] %></p>
    <%= yield %>
  </body>
</html>
